html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}
a{
  color: inherit;
  display: inline-block;
  text-decoration: none;
}
ul, ol{
  margin: 0;
  padding: 0;
  list-style: none;
}
li{
  display: inline-block;
}
button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}
body{
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #363636;
}
.container{
  max-width: 1030px;
  padding: 0 15px;
  margin: 0 auto;
}
.title{
  padding: 5px 0 0 38px;
  position: relative;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 15px;
  color: #000;
  font-weight: 700;
}
.title::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
}
.header{
  background-color: #e8ebf1;
  color: #000;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.07);
}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  position: relative;
}
.logo__link{
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 50px;
  line-height: normal;
}
.logo__link span{
  color: #2aacc8;
  font-weight: 400;
}
.menu{
  margin-right: 18px;
}
.menu__btn{
  width: 35px;
  display: none;
}
.menu__btn-line{
  height: 3px;
  background-color: #000;
}
.menu__btn-line + .menu__btn-line{
  margin-top: 5px;
}
.menu__item + .menu__item{
  margin-left: 50px;
}
.menu__item:nth-child(5){
  margin-left: 24px;
}
.menu__link{
  font-weight: 700;
  text-transform: uppercase;
}
.dropdown{
  border-top: 5px solid transparent;
  padding: 7px 26px 8px 11px;
  position: relative;
  transition: all .3s;
}
.menu__item.dropdown{
  margin-left: 39px;
}
.dropdown + .dropdown{
  margin-left: 13px;
}
.dropdown::after{
  content: '';
  position: absolute;
  background-image: url(../images/icons/down-arrow.svg);
  width: 7px;
  height: 5px;
  right: 10px;
  bottom: 16px;
  transition: all .3s;
}
.dropdown:hover::after{
  transform: rotate(180deg);
}
.dropdown:hover{
  background-color: #fff;
  border-color: #2aacc8;
}
.dropdown:hover > a{
  color: #2aacc8;
}
.dropdown__list{
  position: absolute;
  top: 100%;
  background-color: #fff;
  left: -1px;
  width: 200px;
  box-shadow: 0px 5px 0px 0px rgba(42, 172, 200, 0.004);
  border: 1px solid rgb(232, 235, 241);
  border-bottom: 5px solid #2aacc8;
  border-top: none;
  padding: 10px 5px;
  transition: all .3s;
  transform: scaleY(0);
  transform-origin: center top;
  z-index: 5;
}
.dropdown__item, .dropdown__link{
  display: block;
}
.dropdown__link{
  padding: 9px 10px 6px;
}
.dropdown__item + .dropdown__item{
  border-top: 1px solid #e7e7e7;
}
.dropdown__link{
  transition: all .3s;
}
.dropdown__link:hover{
  color: #2aacc8;
}
.dropdown:hover .dropdown__list{
  transform: scaleY(1);
}
.slider{
  background-color: #81e4ed;
  padding: 20px 0 40px;
}
.slider__item{
  min-height: 440px;
  background-image: url(../images/slider.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slider__item-title{
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 50px;
  line-height: normal;
  color: #fff;
  max-width: 300px;
  margin-left: 55px;
  padding: 90px 0 30px;
}
.slider .slick-dots{
  bottom: -26px;
}
.slider .slick-dots li{
  margin: 0 9px;
  width: auto;
  height: auto;
}
.slider .slick-dots button{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  padding: 0;
  background-color: rgba(98,98,98,.5);
  transition: all .3s;
}
.slider .slick-dots li button::before{
  display: none;
}
.slider .slick-active button{
  background-color: #fff;
}
.slider .slick-dotted.slick-slider{
  margin-bottom: 0;
}
.benefits{
  background-color: #e8ebf1;
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.07);
  border-bottom: 1px solid rgba(0,0,0,.15);
  padding: 60px 0 50px;
}
.benefits__inner{
  display: flex;
  justify-content: space-between;
}
.item{
  max-width: 225px;
}
.item__title{
  padding: 8px 0 0 60px;
  margin-bottom: 30px;
  position: relative;
  color: #000;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}
.item__title-icon{
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2aacc8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item:last-child .item__title-img{
  margin-left: 4px;
}
.item__text{
  margin-bottom: 20px;
}
.item__link{
  color: #2aacc8;
  position: relative;
  padding-left: 14px;
}
.item__link::before{
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../images/icons/arrow-right.svg);
  width: 5px;
  height: 7px;
}
.works{
  padding-top: 19px;
}
.works__title::before{
  background-image: url(../images/icons/cursor.svg);
  width: 14px;
  height: 24px;
}
.works__slider{
  padding: 20px 0 40px;
  border-top: 1px solid #dfe1e5;
  border-bottom: 1px solid #dfe1e5;
}
.works .slick-list{
  margin: 0 -20px;
}
.works__item{
  text-align: center;
}
.works__item-inner{
  display: inline-block;
  position: relative;
}
.works__item-info{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  background-color: #2aacc8;
  transition: all .5s;
  overflow: hidden;
}
.works__item-inner:hover .works__item-info{
  height: 80px;
}
.works__item-link{
  margin: 0 17px;
}
.works__arrow{
  position: absolute;
  z-index: 5;
  top: -40px;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #81e4ed;
}
.works__arrow-prev{
  right: 30px;
}
.about{
  padding: 20px 0 40px;
}
.about__inner{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.about__info{
  max-width: 430px;
}
.about__info-title::before{
  background-image: url(../images/icons/comment.svg);
  width: 24px;
  height: 23px;
  top: 3px;
}
.about__info-text{
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 30px;
}
.about__info-author{
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  font-style: italic;
}
.about__clients-title::before{
  background-image: url(../images/icons/client.svg);
  width: 24px;
  height: 20px;
}
.about__clients-img{
  max-width: 100%;
}
.about__offer{
  background-color: #e8fcfe;
  border: 1px solid #81e4ed;
  padding: 30px 39px 30px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__offer-text{
  max-width: 610px;
  font-size: 16px;
  line-height: 26px;
}
.about__offer-btn{
  background-image: -moz-linear-gradient( 90deg, rgb(42,172,200) 0%, rgb(96,206,222) 15%, rgb(114,218,230) 50%, rgb(129,228,237) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(42,172,200) 0%, rgb(96,206,222) 15%, rgb(114,218,230) 50%, rgb(129,228,237) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(42,172,200) 0%, rgb(96,206,222) 15%, rgb(114,218,230) 50%, rgb(129,228,237) 100%);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2),inset 0px 2px 1px 0px rgba(255, 255, 255, 0.1);
  border: 1px solid rgb(42, 172, 200);
  border-radius: 8px;
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  padding: 19px 18px 20px 70px;
  position: relative;
  margin-left: 10px;
  flex-shrink: 0;
}
.about__offer-btn::before{
  content:'';
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../images/icons/download.svg);
  width: 28px;
  height: 25px;
}
.footer{
  padding: 30px 0 40px;
  background-color: #e8ebf1;
  border-top: 1px solid #d9d9d9;
}
.footer__inner{
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.footer__col{
  font-size: 14px;
}
.footer__title{
  font-size: 15px;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer__col--explore .footer__title,
.footer__col--browse .footer__title{
  margin-bottom: 5px;
}
.footer__col--about{
  width: 240px;
}
.footer__col--explore{
  width: 80px;
}
.footer__col--browse{
  width: 110px;
}
.footer__col--contact{
  width: 140px;
}
.footer__col--connect{
  width: 190px;
}
.footer__text{
  line-height: normal;
}
.footer__list-item{
  display: block;
}
.footer__list-link{
  line-height: 26px;
}
.footer__adress{
  line-height: normal;
  margin-bottom: 15px;
}
.footer__adress span{
  font-weight: 700;
  display: block;
}
.footer__social{
  line-height: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__social-item{
  margin-bottom: 10px;
}
.footer__bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copy{
  max-width: 645px;
  line-height: 18px;
  margin-right: 20px;
}